@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Roboto:wght@400;500;700&display=swap');
/* font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
/* font-family: 'Parisienne', cursive; */

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

p {
  color: #6c644b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

a {
  color: #e78200;
}

a:hover {
  color: #debe96;
}

/* Dot navigation https://bootsnipp.com/snippets/ObXol */

#dot-nav {
  right: 10px;
  top: 50%;
  margin-top: -50px;
  z-index: 999;
  position: fixed;
}

#dot-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#dot-nav li {
  position: relative;
  background-color: #e4c79f;
  border: 3px solid #e4c79f;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  padding: 5px;
  height: 10px;
  margin: 10px 10px 0px 0px;
  width: 10px;
  vertical-align: bottom;
}
#dot-nav li.active,
#dot-nav li:hover {
  background-color: #e78200;
}

#dot-nav a {
  outline: 0;
  vertical-align: top;
  margin: 0px 0px 0px 25px;
  position: relative;
  top: -5px;
}

.tooltip-inner {
  background-color: #e78200;
  color: #f5f5f5;
  border: 1px solid #e78200;
}

.bs-tooltip-left .arrow::before,
.bs-tooltip-auto[x-placement^='left'] .arrow::before {
  border-left-color: #e78200;
}

/* BANNER */

#banner {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/banner-2.jpg');
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  position: relative;
  color: #debe96;
}

#banner-content {
  min-height: 100vh;
  padding-top: 5em;
  padding-bottom: 5em;
}

@media (max-height: 950px) {
  #banner-content {
    padding-top: 3em;
    padding-bottom: 3em;
  }
}

@media (max-height: 680px) {
  #banner-content {
    padding-top: 0em;
    padding-bottom: 0em;
  }
}

/* BANNER h1 */

#logo + h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.3em;
}

@media (max-width: 850px) {
  #logo + h1 {
    word-spacing: 100ch;
  }
}

@media (min-width: 1000px) {
  #logo + h1 {
    font-size: 3em;
  }
}

@media (max-width: 300px) {
  #logo + h1 {
    font-size: 2em;
  }
}

@media (min-width: 849px) and (max-width: 999px) {
  #logo + h1 {
    font-size: 2.5em;
  }
}

h1 > span {
  color: white;
  font-family: 'Parisienne', cursive;
  text-transform: capitalize;
  letter-spacing: 0.3em;
  font-size: 2em;
}

/* COUNTDOWN */

ul.countdown {
  width: 85%;
}

ul.countdown li {
  width: 25%;
}

ul.countdown li span {
  font-size: 3em;
}

@media (max-width: 576px) {
  ul.countdown li span {
    font-size: 2em;
  }
}

ul.countdown li p {
  margin: 0;
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}

@media (max-width: 576px) {
  ul.countdown li p {
    font-size: 0.9em;
  }
}

@media (max-width: 300px) {
  ul.countdown li p {
    font-size: 0.7em;
  }
}

/* CONTENT */

#content {
  padding-top: 2em;
  padding-bottom: 1em;
}

.content-block {
  padding-bottom: 1em;
}

.content-block-left {
  width: 25% !important;
  justify-content: center;
}

.content-block-left svg {
  font-size: 3em;
  color: #743c04;
}

.content-block-left svg:hover {
  color: #171008;
  transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -webkit-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
}

.content-block:hover,
.content-block svg:hover {
  transition: all 1s linear;
  -ms-transition: all 1s linear;
  -o-transition: all 1s linear;
  -webkit-transition: all 1s linear;
  -moz-transition: all 1s linear;
}

@media (max-width: 386px) {
  .content-block-left {
    justify-content: start;
  }
}

.content-block-right {
  width: 75% !important;
}

.content-block-right p {
  text-align: justify;
}

.content-block-right h3 {
  padding-bottom: 0.5em;
}

.content-block-right h3 span {
  color: #e78200;
}

/* SOCIAL */

#social {
  width: 100%;
  min-height: 25vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../img/banner-2.jpg');
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center;
  background-repeat: no-repeat;
}

.social-icons {
  min-height: 25vh;
}

.social-icons li > a {
  font-size: 3em;
  color: #debe96;
}

.social-icons li:hover a {
  text-decoration: none;
  color: white;
}

@media (max-width: 320px) {
  .social-icons li > a {
    font-size: 2em;
  }
}

@media (min-width: 1024px) {
  .social-icons li > a {
    font-size: 4em;
  }
}

/* MISSION */

#mission {
  padding-top: 2em;
  padding-bottom: 1em;
}

#mission h3 {
  padding-bottom: 0.5em;
}

#mission h3 > span {
  color: #e78200;
}

/* GALLERY WALL */

#gallery {
  padding: 1em 0;
  width: 100vw;
  min-height: 50vh;
}

#wall-gallery {
  background: #000000;
  max-height: 50vh;
  min-height: 50vh;
  overflow: hidden;
  /* overflow: scroll; */
}

#wall-gallery .row {
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-wrap: nowrap;
}
